@import '~@angular/material/theming';

@include mat-core();

$mat-roomex: (
    50 : #e0f7f6,
    100 : #b3eae8,
    200 : #80ddd8,
    300 : #4dcfc8,
    400 : #26c4bd,
    500 : #00bab1,
    600 : #00b3aa,
    700 : #00aba1,
    800 : #00a398,
    900 : #009488,
    A100 : #bffff9,
    A200 : #8cfff4,
    A400 : #59ffef,
    A700 : #40ffed,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$roomex-app-primary: mat-palette($mat-roomex, 500);
$roomex-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$roomex-app-warn:    mat-palette($mat-red);

$roomex-app-theme: mat-light-theme($roomex-app-primary, $roomex-app-accent, $roomex-app-warn);

@include angular-material-theme($roomex-app-theme);
