@import 'theme';
@import 'fonts';

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
  overflow: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-text-fill-color: #009688;
}
