<router-outlet [hidden]="displayLoading ? 'true' : null" (activate)="onContentLoad()"></router-outlet>

<div class="loading-content" *ngIf="displayLoading">
  <img src="../../../assets/images/roomex.svg" alt="Roomex logo" class="page-logo">
</div>
