<img src="../../../assets/images/roomex.svg" alt="Roomex logo" class="page-logo">

<div class="results" *ngIf="registrationService.registration | async as registration else empty">
  <div class="results-title">
    Thank you!
  </div>
  <div class="results-content">
    <div class="result-line">
      <span>Name:
      </span><span>{{registration?.title + ' ' + registration?.firstName + ' ' + registration?.lastName}}</span>
    </div>
    <div class="result-line">
      <span>Email:
      </span><span>{{registration?.email  || '-'}}</span>
    </div>
    <div class="result-line">
      <span>Occupation:
      </span><span>{{registration?.occupation || '-'}}</span>
    </div>
    <div class="result-line">
      <span>Country:
      </span><span>{{registration?.country || '-'}}</span>
    </div>
    <div class="result-line">
      <span>Postal Code:
      </span><span>{{registration?.postalCode || '-'}}</span>
    </div>
    <div class="action-line">
      <button mat-raised-button color="primary" [routerLink]="['/enter']">Enter a new registration</button>
    </div>
  </div>
</div>

<ng-template #empty>
  <div class="empty-message">
    <div>The form has not been field</div>
    <button mat-raised-button color="primary" [routerLink]="['/enter']">Enter Form</button>
  </div>
</ng-template>
