@import '~@angular/material/theming';

:host {
  height: 100%;
  width: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;

  .page-logo {
    width: 230px;
    height: 48px;
  }

  .empty-message {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .results {
    @include mat-elevation(2);
    position: relative;
    min-width: 320px;
    padding: 0 0 32px 0;
    margin-top: 48px;
    font-size: 1.3em;
    border: 1px solid #00BAB1;
    border-radius: 6px;

    .results-title {
      position: relative;
      background: #00BAB1;
      -webkit-clip-path: polygon(50% 100%, 100% 72%, 100% 0, 0 0, 0 72%);
      clip-path: polygon(50% 100%, 100% 72%, 100% 0, 0 0, 0 72%);
      padding: 24px 0;
      margin-bottom: 24px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4em;
    }

    .results-content {
      display: flex;
      flex-direction: column;
      padding: 0 24px;

      mat-form-field {
        margin: 0 12px;
      }

      .result-line {
        width: 100%;
        margin-bottom: 12px;
      }

      .action-line {
        margin-top: 12px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
