<img src="../../../assets/images/roomex.svg" alt="Roomex logo" class="page-logo">

<div class="form">
  <div class="form-title">
    Required Data
  </div>
  <div>
    <form [formGroup]="form" class="form-content" (ngSubmit)="submitForm()">
      <div class="personal-info">
        <mat-form-field appearance="outline" class="title">
          <mat-label>Title</mat-label>
          <mat-select cdkFocusInitial formControlName="title" [required]="true">
            <mat-option>--</mat-option>
            <mat-option value="Mr">Mr</mat-option>
            <mat-option value="Mrs.">Mrs.</mat-option>
            <mat-option value="Ms.">Ms.</mat-option>
            <mat-option value="Dr.">Dr.</mat-option>
          </mat-select>
          <mat-error>Required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input #firstNameInput type="text" [required]="true" name="fname" autocomplete="given-name" matInput
            id="first-name" formControlName="firstName" />
          <mat-error *ngIf="firstName.errors && firstName.errors['required']">
            This field is required
          </mat-error>
          <mat-error *ngIf="firstName.errors && firstName.errors['pattern']">
            Cannot contain any
            number
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input #lastNameInput type="text" [required]="true" name="lname" autocomplete="family-name" matInput
            id="last-name" formControlName="lastName" />
          <mat-error *ngIf="lastName.errors && lastName.errors['required']">This field is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="personal-additional-info">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" name="email" autocomplete="email" autocorrect="off" autocapitalize="none" matInput
            id="email" formControlName="email" />
          <mat-error *ngIf="email.errors && email.errors['email']">Invalid email format</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Occupation</mat-label>
          <input #occupationInput type="text" matInput formControlName="occupation" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (selectionChange)="clearOccupations()">
            <mat-option *ngFor="let suggestion of occupationSuggestion$ | async" [value]="suggestion.suggestion">
              <span>{{ suggestion.suggestion }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="location-info">
        <mat-form-field appearance="outline">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country" [required]="true" (selectionChange)="countrySelectionChanged($event)">
            <mat-option>--</mat-option>
            <mat-option value="Ireland">Ireland</mat-option>
            <mat-option value="United Kindom">United Kingdom</mat-option>
          </mat-select>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <div class="postal-code" [ngSwitch]="country.value">
          <mat-form-field appearance="outline" *ngSwitchCase="'Ireland'">
            <mat-label>Postal Code</mat-label>
            <input #irishPostalCode type="text" name="postalCode" matInput id="postal-code"
              formControlName="postalCode" />
            <mat-error *ngIf="postalCode.errors && (postalCode.errors['minlength'] || postalCode.errors['maxlength'])">
              Must be between 6 to 10 characters
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" *ngSwitchCase="'United Kindom'">
            <mat-label>Postal Code</mat-label>
            <input #ukPostalCode type="text" [required]="true" name="postalCode" matInput id="postal-code"
              formControlName="postalCode" />
            <mat-error *ngIf="postalCode.errors && postalCode.errors['pattern']">Invalid Postal Code
            </mat-error>
            <mat-error *ngIf="postalCode.errors && postalCode.errors['required']">This field is required</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="actions">
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
