@import '~@angular/material/theming';

:host {
  height: 100%;
  width: calc(100% - 24px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;

  .page-logo {
    width: 230px;
    height: 48px;
  }

  .form {
    @include mat-elevation(2);
    position: relative;
    min-width: 320px;
    padding: 0 0 32px 0;
    margin-top: 48px;
    border: 1px solid #00BAB1;
    border-radius: 6px;

    .form-title {
      position: relative;
      background: #00BAB1;
      -webkit-clip-path: polygon(50% 100%, 100% 72%, 100% 0, 0 0, 0 72%);
      clip-path: polygon(50% 100%, 100% 72%, 100% 0, 0 0, 0 72%);
      padding: 24px 0;
      margin-bottom: 24px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4em;
    }

    .form-content {
      display: flex;
      flex-direction: column;
      padding: 0 24px;

      mat-form-field {
        margin: 0 12px;
      }

      .personal-info,
      .personal-additional-info,
      .location-info {
        width: 100%;
        margin-bottom: 4px;
      }

      .personal-info {
        .title {
          max-width: 90px;
        }
      }

      .location-info {
        .postal-code {
          display: inline-block;
        }
      }

      .actions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
